body {
    background: #D6DDF6;
    font-family: "Lucida Console", "Courier New", monospace;
}
            
figure 
{
    width:40%;
    background: LightGrey;
    margin:auto;
}
            
img 
{
    width:100%;
    
}
            
            
section
{
    background: LightBlue;
    width:90%;
    margin:auto;
}

li
{
    color: purple;
    font-family: "Times New Roman", Times, serif;
}

ul
{
    background: White;
}

ol
{
    background: White;
}

.projectimage
{
    width: 10%;
    background: LightGrey;
    margin:auto;
}

.outer
{
    background: white;
}

.aboutImage
{
    width: 20%;
}

nav
{
    height: 50px;
    background: lightpink;
    padding-top: 30px;
}

.essay
{
    padding-left: 10px;
}